ul .pagination {
  width: 100%;
}
.page-item {
  text-align: center;
  width: 100%;
}
.header span {
  font-size: 24px;
}
.header-g {
  color: #ffffff;
}
.page-link {
  animation: easy 0.5s;
}
@keyframes easy {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
